body {
    margin: 0;
}

.dark-light-theme {
    background: var(--theme-color);
    color: var(--primary-color);
    margin: 0;
}

.App {
    margin: 0 auto;
    max-width: 1120px;
}

:root {
    --primary-color: #000000;
}

[data-theme="light"] {
    --primary-color: #000000;
}

[data-theme="dark"] {
    --theme-color: #000000;
}

@media screen and (max-width: 1366px) {
    .App {
        padding: 35px 123px 97px 123px;
    }
}

@media screen and (max-width: 1024px) {
    .App {
        padding: 35px 42px 62px 42px;
    }
}

@media screen and (max-width: 768px) {
    .App {
        padding: 35px 34px 54px 34px;
    }
}

@media screen and (max-width: 320px) {
    .App {
        padding: 25px 20px 20px 20px;
    }
}